<header class="masthead" style="background-image: url('/assets/home-bg.jpg')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
          <h2>Tech Blog</h2>
          <span class="subheading">created by sibakenY</span>
        </div>
      </div>
    </div>
  </div>
</header>


<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <% @articles.each do |article| %>
        <%= render 'guest/shared/article_preview', article: article %>
        <hr>
      <% end %>
    </div>
  </div>

  <div class='d-flex justify-content-center mt-4 w-100'>
    <div>
      <%= paginate @articles %>
    </div>
  </div>
</div>

<hr>