<div class="container">
  <div class="card p-3">
    <p>記事のPV数</p>
    <%= line_chart @chart_values.map { |value| [value.time, value.sum] } %>
  </div>
  <blockquote></blockquote>
  <div class="mt-5">
    <h2 class="border-bottom mb-3"><%= @article.title %></h2>
    <%= markdown(@article.body).html_safe %>
  </div>
</div>
