<div class='container'>
  <%= form_with model: @article_form, url: articles_path, local: true do |f| %>
  <%= render 'articles/form/article_form', f: f %>
  <%= render 'articles/form/categories_form', f: f %>

  <div class="form-group">
    <%= f.submit '作成', class: 'btn btn-primary' %>
  </div>
  <% end %>
</div>