<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">記事管理</a>
    <%= link_to 'ログアウト', admin_session_path, class: 'navbar-item ml-auto text-light', method: :delete %>
</nav>