<div class='container'>
  <div class='home-articles-container'>
    <div class='articles-list-container'>
      <% @articles.each do |article| %>
        <div class='card article-list-card'>
          <div class="bd-placeholder-img card-img-top article-card-image">
            <%= image_tag 'default_article', style: 'height: 150px;' %>
          </div>
          <div class='card-body'>
            <p><%= article.title %></p>
          </div>
        </div>
      <% end %>
    </div>
    <div class='article-sidebar'>
      <div class='card'>
        <ul class="list-group list-group-flush">
          <li class="list-group-item list-group-item-light">言語</li>
          <% Category.language.each do |category| %>
            <li class="list-group-item list-group-item-action"><%= category.name %></li>
          <% end %>
          <li class="list-group-item list-group-item-light">フレームワーク</li>
          <% Category.framework.each do |category| %>
            <li class="list-group-item list-group-item-action"><%= category.name %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>