<div class='container-fluid'>
  <h3 class='card p-3 border text-muted mb-4'>記事同期</h3>

  <%= link_to  '同期実行', sycn_items_qiita_syncs_path, class: 'btn btn-success', remote: true %>

  <div class='result-container'>
  </div>
</div>