<div class='container'>
  <div class='home-articles-container'>
    <div class='mb-5 text-center w-100'>
      <h1><%= @query %> の記事一覧</h1>
    </div>
    <div class='articles-list-container'>
      <% @articles.each do |article| %>
        <%= render 'guest/shared/article_tile', article: article %>
      <% end %>
      <div class='d-flex justify-content-center mt-4 w-100'>
        <div>
          <%= paginate @articles %>
        </div>
      </div>
    </div>
    <div class='article-sidebar'>
      <%= render 'guest/shared/category_sidebar' %>
    </div>
  </div>
</div>