@import "~bootstrap/scss/bootstrap";
@import "~toastr/toastr";
@import "./breadcrumb.scss";
@import "./sidemenu.scss";
@import "./shared.scss";
@import "./articles.scss";

body .page-content {
  font-family: "YuGothic", "Meiryo UI";
}

h1,
h2,
h3,
h4,
h5,
p {
  margin-bottom: 0;
}

h6 img {
  width: 100%;
}

.field_with_errors {
  input,
  textarea {
    @extend .is-invalid;
  }
}
