@import "~bootstrap/scss/bootstrap";
@import "~toastr/toastr";
@import "./breadcrumb.scss";
@import "./sidemenu.scss";
@import "./articles.scss";
@import './code-block.scss';
@import './markdown.scss';
@import './article/table.scss';
@import './article/list.scss';
@import './shared/shared.scss';
@import './shared/button.scss';
@import './shared/table.scss';
@import './article/stats.scss';
@import './home.scss';

body {
  background: #9e9d9d3b;
}

body .page-content {
  font-family: "YuGothic", "Meiryo UI";
}

h1,
h2,
h3,
h4,
h5,
p {
  margin-bottom: 0;
}

h6 img {
  width: 100%;
}

.field_with_errors {
  input,
  textarea {
    @extend .is-invalid;
  }
}
