.article-card-list-body {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.article-body-form, .article-body-markdown {
  height: 600px !important;
  overflow: scroll;
}