.article-card-list-body {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.article-body-form, .article-body-markdown {
  height: 800px !important;
  overflow: scroll;
  background: white;
}

.article-form-container {
  padding: 0px !important;
  margin: 0 0 0 -5px !important;
}

.article-container {
  box-shadow: 0px 0px 12px 12px #80808012;
}