.title-card {
  background: rgba(49, 53, 61, 1) 0%;
  color: white;
}

img {
  max-width: 100%;
}

.page-item {
  margin-right: 10px;
  margin-left: 10px;
}
.page-item-round a {
  border-radius: 50% !important;
}

.page-item.active .page-link {
  background-color: #5ef680;
  color: white !important;
}

.page-link {
  border-color: #5ef680 !important;
  color: #5ef680 !important;
}