<div class='container'>
  <div class="text-right mb-5">
    <%= link_to new_category_path, class: 'custom-btn btn--red btn--radius btn--cubic' do %>
      カテゴリー作成
      <i class="fas fa-angle-right fa-position-right"></i>
    <% end %>
  </div>
  <table class="table article-table">
    <tr class='heading'>
      <th>カテゴリー名</th>
      <th>カテゴリー分類</th>
      <th></th>
    </tr>

    <% @categories.each do |category| %>
    <tr class='table-hover-action table-content'>
      <td><%= category.name %></td>
      <td><%= category.category_type_i18n %></td>
      <td class='text-right'>
        <%= link_to category_path(category), method: :delete, class: 'btn text-muted', data: { confirm: 'この記事を削除します。' }  do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </td>
    </tr>
    <% end %>
  </table>
</div>