<div class='container'>
    <div class="text-right mb-5">
        <%= link_to '追加', new_category_path, class: 'btn btn-primary'%>
    </div>
    <table class="table">
        <tr>
            <th>Name</th>
            <th>Age</th>
        </tr>

        <% @categories.each do |category| %>
        <tr>
            <td><%= category.name %></td>
            <td><%= category.category_type_i18n %></td>
        </tr>
        <% end %>
    </table>
</div>