<nav class="navbar navbar-expand-lg navbar-light bg-light pl-5 pr-5">
  <%= link_to 'sbkn blog', root_path, class: 'navbar-brand' %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <%
=begin%>
 <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Ruby on Rails</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">React</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">Go</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">その他</a>
      </li>
    </ul>
    <ul class="navbar-nav">
    </ul>
  </div> 
<%
=end%>
</nav>